/* globals.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light background */
  color: #333; /* Dark text */
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #2c2f33; /* Dark sidebar */
  color: #ffffff;
  padding: 20px;
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background: #fff; /* Main content background */
  border-left: 1px solid #ccc; /* Divider line */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 32px;
}

.filter {
  display: flex;
  align-items: center;
}

.filter select,
.search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
}

.active {
  color: #76ff03; /* Green for active */
}

.inactive {
  color: #ff1744; /* Red for inactive */
}

.delete-button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d62839;
}

.add-product-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background: #f9f9f9; /* Light background for the add product section */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-product-form input,
.add-product-form select {
  width: calc(100% - 16px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #f1faee;
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #a8dadc;
}

.toggle-form-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.toggle-form-button:hover {
  background-color: #0056b3;
}